@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html, body {
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    background: #eee;
}

.container {
    width: 800px;
    margin: auto;
}

svg {
    background: #eee;
    margin: 30px 10%;
}